ul ul
{
  display: none;
  position: absolute;
  left: 140px;
}
ul
{
  padding: 0px;
  margin: 0px;
  width: 60px;
}
li
{
  position: relative;
  list-style-type: none;
}
li:hover ul.niveau2, li li:hover ul.niveau3
{
  display:block;
}
